*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
}

.tbl-30{
    width: 30%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}

.btn-primary{
    background-color: rgb(70, 70, 214);
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.btn-primary:hover{
    background-color: rgb(27, 27, 127);
}

.btn-secondary{
    background-color: rgb(17, 172, 17);
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.btn-secondary:hover{
    background-color: rgb(7, 94, 7);
}

.btn-danger{
    background-color: rgb(188, 68, 68);
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.btn-danger:hover{
    background-color: rgb(150, 19, 19);
}

.success{
    color: rgb(7, 94, 7);
}
.error{
    color: rgb(150, 19, 19);
}
/* Menu */
.menu{
    border-bottom: 1px solid grey;
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #d3ad7f;
}

.menu ul li a:hover{
    color: #c3802f;
}
/* Menu End */

/* Main */
.main-content{
    background-color: lightgray;
    padding: 3% 0;
}

.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}
/* Main End */

/* Footer */
.footer{
    background-color: #d3ad7f;
    color: white;
}
/* Footer End */

/* Login */
.login{
    border: 1px solid grey;
    width: 20%;
    margin: 10% auto;
    padding: 2%;
}
/* Login End */